Button {
    font-size: 42;
    horizontal-align: center;
}

ActivityIndicator {
    width: 30;
    color: #2E6DAD;
}

Label {
    padding: 15;
}

ActionBar {
    color: white;
    background-color: #2E6DAD;
}

.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}

.card {
    border-color: #2E6DAD;
    border-width: 1;
    border-radius: 5;
    width: 95%;
    margin-bottom: 10;
}

.page-header {
    font-weight: bold;
}

.list-header {
    background-color: #2E6DAD;
    color: white;
}

